<div class="list_of_instances">
<div class="instances">
<table>
	<tr>
		<th>Instance ID</td>
		<th>State</td>
		<th>Image</td>
		<th>Key Name</td>
		<th>Type</td>
		<th>Launched</td>
		<th>Zone</td>
		<th>Lifetime</td>
	</tr>
	{{#each instances}}
	<tr>
		<td>{{this.instance}}</td>
		<td>{{this.state}}</td>
		<td>{{this.imageId}}</td>
		<td>{{this.keyName}}</td>
		<td>{{this.instanceType}}</td>
		<td>{{this.launchTime}}</td> 
		<td>{{this.zone}}</td>
		<td>{{this.duration}} sec</td>
	</tr>
	{{/each}}
</table>
</div>

<div class='cpu'>
<table>
	<tr>
		<th>Instance ID</td>
		<th>CPU Usage (%)</td>
	</tr>
	{{#each cpuMetrics}}
	<tr>
		<td>{{this.instance}}</td>
		<td>{{this.cpu}}</td>
	</tr>
	{{/each}}
</table>
</div>

<div class='networkin'>
<table>
	<tr>
		<th>Instance ID</td>
		<th>NetworkIn Usage (Bytes)</td>
	</tr>
	{{#each networkIn}}
	<tr>
		<td>{{this.instance}}</td>
		<td>{{this.networkIn}}</td>
	</tr>
	{{/each}}
</table>
</div>



<div class='networkout'>
<table>
	<tr>
		<th>Instance ID</td>
		<th>NetworkOut Usage (Bytes)</td>
	</tr>
	{{#each networkOut}}
	<tr>
		<td>{{this.instance}}</td>
		<td>{{this.networkOut}}</td>
	</tr>
	{{/each}}
</table>
</div>

</div>

