
<div id="EC2">
	<table id="InstanceTable" class="tablesorter-metro" cellspacing="1">
		<thead>
			<tr class="dark-row">
				<th class="tablesorter-header" data-column="0">
					Instance ID
				</th>
				<th class="tablesorter-header" data-column="1">
					State
				</th>
				<th class="tablesorter-header" data-column="2">
					Image
				</th>
				<th class="tablesorter-header" data-column="3">
					Key Name
				</th>
				<th class="tablesorter-header" data-column="4">
					Type
				</th>
				<!--Failing to sort-->
				<th class="tablesorter-header" data-column="5">
					Launched
				</th>
				<th class="tablesorter-header" data-column="6">
					Zone
				</th>
				<th class="tablesorter-header" data-column="7">
					Lifetime
				</th>
				<th class="tablesorter-header" data-column="8">
					E-Mail
				</th>
				<th class="tablesorter-header" data-column="8">
					Volume ID
				</th>
				<th class="tablesorter-header" data-column="8">
					LastActiveTime
				</th>
			</tr>
		</thead>
		<tbody id="instanceData">
		{{#each instances}}
			<tr class="tablesorter-body">
				<td>{{this.instance}}</td>
				<td>{{this.state}}</td>
				<td>{{this.imageId}}</td>
				<td>{{this.keyName}}</td>
				<td>{{this.instanceType}}</td>
				<td>{{this.launchTime}}</td> 
				<td>{{this.zone}}</td>
				<td>{{this.duration}} sec</td>
				<td>{{this.email}}</td>
				<td>{{this.volumeid}}</td>
				<td>{{this.lastActiveTime}}</td>
			</tr>
		{{/each}}
		</tbody>	
	</table>

</div>
