<div id="Metrics">
	<table id="MetricsTable" class="tablesorter-metro" cellspacing="1">
		<thead>
			<tr class="dark-row">
				<th class="tablesorter-header" data-column="0">
					Instance ID
				</th>
				<th class="tablesorter-header" data-column="1">
					Network In
				</th>
				<th class="tablesorter-header" data-column="2">
					Network Out
				</th>
				<th class="tablesorter-header" data-column="3">
					Cpu Utilization
				</th>
				<th class="tablesorter-header" data-column="4">
					Time
				</th>
			</tr>
		</thead>
		<tbody id="metricsData">
		{{#each metrics}}
			<tr class="tablesorter-body">
				<td>{{this.instance}}</td>
				<td>{{this.networkIn}}</td>
				<td>{{this.networkOut}}</td>
				<td>{{this.cpuUtilization}}</td>
				<td>{{this.time}}</td>
			</tr>
		{{/each}}
		</tbody>	
	</table>
</div>