

<html>
	<head>
		<title>Credential Input</title>
		<script type="text/javascript">
			$(function(){
				$('#submit').click(function(e){
					e.preventDefault();
					console.log('submit link clicked');

					var data = {};
					// data.
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
						contentType: 'application/json',
						url: 'http://localhost:3000/setCredentials',
						success: function(data) {
							console.log(success);
							console.log(JSON.stringify(data));
						}
					});
				});
			});
		</script>
	</head>
	<body>
		<div class="slider">
			<form id="credentials" action="/setCredentials" method="post">
				{{#each pages}}
					{{#ifCond this.title '==' "Account Number"}}
						{{this.title}}<br> 
						<input type="text" name="Account_Number"> 
						<br>
					{{/ifCond}}

					{{#ifCond this.title '==' "RDS Region"}}
						{{this.title}}<br> 
						<input type="radio" name='RDS_Region' value="us-west-1">us-west-1
						<input type="radio" name='RDS_Region' value="us-west-2">us-west-2
						<input type="radio" name='RDS_Region' value="us-east-1">us-east-1<br>
					{{/ifCond}}

					{{#ifCond this.title '==' "S3 Region"}}
						{{this.title}}<br>
						<input type="radio" name='S3_Region' value="us-west-1">us-west-1
						<input type="radio" name='S3_Region' value="us-west-2">us-west-2
						<input type="radio" name='S3_Region' value="us-east-1">us-east-1<br>
					{{/ifCond}}

					{{#ifCond this.title '==' "AWS Regions"}}
						{{this.title}}<br> 
						<input type="checkbox" name='AWS_Regions' value="us-west-1">us-west-1
						<input type="checkbox" name='AWS_Regions' value="us-west-2">us-west-2
						<input type="checkbox" name='AWS_Regions' value="us-east-1">us-east-1<br>
					{{/ifCond}}

					{{#ifCond this.title '==' "Credits"}}
						{{this.title}}<br> 
						<input type="text" name="Credits"> 
						<br>
					{{/ifCond}}

				{{/each}}
				<br>
				<hr>
				<input type="submit" value="Save" onclick="showElements(this.form)">
			</form>
		</div>
	</body>
</html>

