<html>
	<head>
		<title>Credential Input</title>
		<script type="text/javascript">
		var response = '';
			$(document).ready(function(){
				$.get('/getAccount', function(data){
					$("#div1").append(data);
				});
			});
				
		</script>
	
	</head>
	<body>
		<div class="slider">
			<form id="credentials" action="/setCredentials" method="post">
				<div>
				{{#each pages}}
					{{#ifCond this.title '==' "Account Number"}}
					<div type="text" id="account" value=""></div>
						{{this.title}}:
						<h3><div id = "div1"></div></h3>
						<hr>
					{{/ifCond}}
					{{#ifCond this.title '==' "RDS Region"}}
						{{this.title}}<br> 
						<input type="radio" id = "rdsWest1" name='RDS_Region' value="us-west-1">us-west-1
						<input type="radio" id = "rdsWest2" name='RDS_Region' value="us-west-2">us-west-2
						<input type="radio" id = "rdsEast1" name='RDS_Region' value="us-east-1">us-east-1<hr>
					{{/ifCond}}
					{{#ifCond this.title '==' "S3 Region"}}
						{{this.title}}<br>
						<input type="radio" id="s3West1" name='S3_Region' value="us-west-1">us-west-1
						<input type="radio" id="s3West2" name='S3_Region' value="us-west-2">us-west-2
						<input type="radio" id="s3East1" name='S3_Region' value="us-east-1">us-east-1<hr>
					{{/ifCond}}
					{{#ifCond this.title '==' "AWS Regions"}}
						{{this.title}}<br> 
						<input type="checkbox" id = "awsWest1" name='AWS_Regions' value="us-west-1">us-west-1
						<input type="checkbox" id = "awsWest2" name='AWS_Regions' value="us-west-2">us-west-2
						<input type="checkbox" id = "awsEast1" name='AWS_Regions' value="us-east-1">us-east-1<hr>
					{{/ifCond}}
					{{#ifCond this.title '==' "Credits"}}
						{{this.title}}<br> 
						<input type="text" name="Credits" onclick=""> 
						<br>
					{{/ifCond}}

				{{/each}}
				<br>
				<hr>
				<input type="submit" value="Save">
			</form>
		</div>
	</body>
</html>

