<table id="InstanceTable" class="display">
	<thead>
		<tr class="dark-row">
			<th>Instance ID</th>
			<th>State</th>
			<th>Key Name</th>
			<th>Type</th>
			<th>Launched</th>
			<th>Zone</th>
			<th>Lifetime</th>
			<th>E-Mail</th>
			<th>Volume ID</th>
			<th>LastActiveTime</th>
		</tr>
	</thead>
	<tbody id="instanceData">
	{{#each instances}}
		<tr>
			<td >{{this.instance}}</td>
			<td>{{this.state}}</td>
			<td>{{this.keyName}}</td>
			<td>{{this.instanceType}}</td>
			<td>{{this.launchTime}}</td> 
			<td>{{this.zone}}</td>
			<td>{{this.duration}} min</td>
			<td>{{this.email}}</td>
			<td>{{this.volumeid}}</td>
			<td>{{this.lastActiveTime}}</td>
		</tr>
	{{/each}}
	</tbody>	
</table>
