<div class="title"><h4> EC2 Instances </h4></div>
<table id="EC2InstanceTable" class="hover">
	<thead>
		<tr class="dark-row">
			<th>User Name</th>
			<th>Group Name</th>
			<th>Instance ID</th>
			<th>Type</th>
			<th>State</th>
			<th>Zone</th>
			<th>Lifetime</th>
			<th>Launched</th>
		</tr>
	</thead>
	<tbody id="instanceData">
	{{#each instances}}
		<tr>
			<td>{{this.userName}}</td>
			<td>{{this.groupName}}</td>
			<td >{{this.instance}}</td>
			<td>{{this.instanceType}}</td>
			<td>{{this.state}}</td>
			<td>{{this.zone}}</td>
			<td>{{this.lifetime}} min</td>
			<td>{{this.launchTime}}</td> 
		</tr>
	{{/each}}
	</tbody>	
</table>



