<div class="title"><h4>RDS Instances </h4></div>
<table id="RDSInstanceTable" class="hover">
	<thead>
		<tr class="dark-row">
			<th>Identifier</th>
			<th>Class</th>
			<th>Engine</th>
			<th>Status</th>
			<th>MasterUsername</th>
			<th>DBName</th>
			<th>AllocatedStorage</th>
			<th>Launch Time</th>
			<th>Zone</th>
			<th>StorageType</th>
		</tr>
	</thead>
	<tbody id="instanceData">
	{{#each instances}}
		<tr>
			<td >{{this.dbIdentifier}}</td>
			<td>{{this.dbClass}}</td>
			<td>{{this.dbEngine}}</td>
			<td>{{this.dbStatus}}</td>
			<td>{{this.masterUsername}}</td> 
			<td>{{this.dbName}}</td>
			<td>{{this.allocatedStorage}} GB</td>
			<td>{{this.launchTime}}</td>
			<td>{{this.zone}}</td>
			<td>{{this.type}}</td>
		</tr>
	{{/each}}
	</tbody>	
</table>
