<div class="title"><h4>Quota Cost Budgets</h4></div>
<table id="BudgetTable" class="hover">
	<thead>
		<tr class="dark-row">
			<th>BudgetName</th>
			<th>BatchType</th>
			<th>BatchName</th>
			<th>StartDate</th>
			<th>EndDate</th>
			<th>Amount</th>
			<th>Timeout</th>
		</tr>
	</thead>
	<tbody id="budgetData">
	{{#each budgets}}
		<tr>
			<td >{{this.budgetName}}</td>
			<td>{{this.batchType}}</td>
			<td>{{this.batchName}}</td>
			<td>{{this.startDate}}</td>
			<td>{{this.endDate}}</td> 
			<td>{{this.amount}}</td>
			<td>{{this.timeout}}</td>
		</tr>
	{{/each}}
	</tbody>	
</table>
