<div class="title"><h4> Graduated Resource Limitation System (GRLS) Budgets </h4></div>
<table id="TimeBudgetTable" class="hover">
	<thead>
		<tr class="dark-row">
			<th>BudgetName</th>
			<th>BatchType</th>
			<th>BatchName</th>
			<th>StartDate</th>
			<th>EndDate</th>
			<th>Time Amount</th>
			<th>uDecay</th>
			<th>oDecay</th>
			<th>minDB</th>
			<th>maxDB</th>
			<th>TimeOut</th>
		</tr>
	</thead>
	<tbody id="timeBudgetData">
	{{#each timebudgets}}
		<tr>
			<td >{{this.timeBudgetName}}</td>
			<td>{{this.batchType}}</td>
			<td>{{this.batchName}}</td>
			<td>{{this.startDate}}</td>
			<td>{{this.endDate}}</td> 
			<td>{{this.timeAmount}}</td>
			<td>{{this.udecay}}</td>
			<td>{{this.odecay}}</td>
			<td>{{this.minDB}}</td>
			<td>{{this.maxDB}}</td>
			<td>{{this.timeout}}</td>
		</tr>
	{{/each}}
	</tbody>	
</table>

<ul class='custom-menu'>
  <li data-action="Edit"data-toggle="modal" data-target="#base-modal" data-backdrop="static" data-keyboard="false">Edit Instance</li>
  <li data-action="Delete" data-toggle="modal" data-target="#base-modal" data-backdrop="static" data-keyboard="false" >Delete Instance</li>
</ul>

